.*
!.gitignore
blueprints
custom_components
deps
themes
tts
www
.HA_VERSION
aircast.xml
automations.yaml
*.conf
*.db*
*.log
*.log.*
scenes.yaml
scripts.yaml
secrets.yaml
!packages/*.yaml
*.backup
*.zip
node-red/*