.cloud
.storage
.vscode
blueprints
custom_components
deps
themes
tts
www
.HA_VERSION
aircast.xml
automations.yaml
*.conf
*.db*
*.log
scenes.yaml
!packages/scenes.yaml
scripts.yaml
!packages/scripts.yaml
secrets.yaml